<%- include('./partials/nav') %>

<title><% category %> Menu</title>

<h1><% category %> Menu</h1>

<ul>
  <% menuItems.forEach(item =>{%>
  <li>
    <%= item.name%> <%= item.price %> <%= itwm.rating %>
    <p><% item.details %></p>
  </li>

  <%}) %>
</ul>
